.departmentEditForm {

    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
        text-transform: uppercase;
        color: rgb(199, 198, 198);
        font-size: 14px;
    }

    .hod,
    .name,
    .buttons {
        display: flex;
        align-items: center;
    }

    .hod,
    .name {
        flex: 3;
        gap: 5px;

    }

    .name {
        input {
            width: 65%;
            padding: 8px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: gray;
        }
    }

    .hod {
        select {
            width: 65%;
            padding: 8px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: gray;
            background-color: transparent;
        }
    }

    .buttons {
        gap: 10px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row-reverse;

        button {
            border: none;
            padding: 10px;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 5px;
            color: white;

            &:first-child {
                background-color: #bdbdbd;

                &:hover {
                    background-color: #616161;
                }
            }

            &:last-child {
                background-color: #009688;

                &:hover {
                    background-color: #00796b;
                }
            }
        }
    }

}