$base-color: #0d084d;
$base-green-color: rgb(4, 133, 4);

.departments {
    .mainContainer {
        padding: 20px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .create {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                padding: 10px;
                border-radius: 5px;
                width: max-content;
                text-transform: uppercase;
                color: #616161;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 3px;
            }

            .createBtn {
                display: flex;
                align-items: center;
                gap: 5px;
                box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                padding: 10px;
                border-radius: 5px;
                width: max-content;
                cursor: pointer;
                background-color: #009688;
                color: white;
                text-transform: uppercase;
            }
        }


        .departmentContainer {
            box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
            -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
            padding: 10px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .departmentName {
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                color: gray;
                text-decoration: dashed;
            }

            .members {

                display: flex;
                flex-wrap: wrap;
                gap: 30px;

                .noTeacher {
                    color: lightgrey;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                }

                .member {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    img {
                        height: 200px;
                        width: 200px;
                        object-fit: cover;
                    }

                    div {
                        align-self: center;
                        font-weight: 500;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: gray;
                        display: flex;
                        align-items: center;
                        gap: 3px;
                    }
                }

            }
        }
    }
}