.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/8926848/pexels-photo-8926848.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center;
    background-size: cover;
    background-repeat: no-repeat;

    .loginCard {
        display: flex;
        width: 50%;
        min-height: 450px;
        -webkit-box-shadow: 1px 2px 18px 11px rgba(0, 0, 0, 0.17);
        box-shadow: 1px 2px 18px 11px rgba(0, 0, 0, 0.17);
        border-radius: 10px;
        overflow: hidden;
        background-color: white;


        .left {
            flex: 1;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;

                h1 {
                    color: gray;
                    text-align: center;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    position: relative;

                    input {
                        padding: 15px;
                        outline: none;
                        font-size: 17px;
                        color: gray;
                    }

                    button {
                        width: 50%;
                        padding: 10px;
                        border: none;
                        background-color: #191544;
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 17px;
                        font-weight: 500;

                        &:hover {
                            background-color: #fff;
                            color: #191275;
                            outline: 1px solid #191275
                        }

                        &:disabled {
                            cursor: not-allowed;
                        }
                    }

                    .visible {
                        cursor: pointer;
                        position: absolute;
                        right: 5px;
                        bottom: 75px;
                        color: gray;
                        font-size: 20px;

                    }
                }

                .error {
                    border: 1px solid #bf3131;
                    color: #bf3131;
                    padding: 10px;
                    border-radius: 5px;
                    overflow: hidden;
                    text-align: justify;
                    font-weight: 500;
                }
            }
        }
    }

}