$base-color: #0d084d;

.classSubject {
    padding: 10px 30px;

    .wrapper {
        box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
        -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .info {
            font-weight: 500;
            text-transform: uppercase;
            font-size: 18px;
            color: $base-color;
        }

        section {
            .sectionWrapper {

                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    display: flex;
                    align-items: center;
                    // gap: 5px;

                    select {
                        width: 80%;
                        padding: 8px;
                        text-transform: uppercase;
                        font-size: 16px;
                        background-color: white;
                        border: none;
                        border: 1px solid #e0e0e0;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    &:first-child,
                    &:last-child {
                        width: 40%;

                        .icon {
                            width: 10%;
                            cursor: pointer;
                            color: green;
                            font-weight: 500;
                        }
                    }

                    &:nth-child(2) {
                        width: 30%;
                    }
                }
            }
        }

    }
}