$base-color: #0d084d;

.department {
    .mainDepartmentContainer {
        padding: 20px 30px 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .upSection {
            display: flex;
            align-items: center;
            justify-content: space-between;


            .departmentName {
                box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                color: $base-color;
                padding: 10px 20px;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 500;
                border-radius: 5px;
            }

            .actions {
                display: flex;
                align-items: center;
                gap: 20px;

                .edit,
                .delete {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                    -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                    padding: 10px;
                    border-radius: 5px;
                    width: max-content;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    border: none;

                    &:disabled {
                        cursor: not-allowed;
                    }
                }

                .edit {
                    background-color: #009688;
                    color: white;

                    &:hover {
                        background-color: white;
                        color: #009688;
                    }
                }

                .delete {
                    background-color: red;
                    color: white;

                    &:hover {
                        background-color: white;
                        color: red;
                    }
                }
            }
        }

        .lowerSection {

            .noTeacher {
                font-size: 30px;
                color: #bdbdbd;
                align-self: center;
                margin-top: 200px;
                text-transform: uppercase;
                font-weight: 500;
            }

            .members {


                display: flex;
                flex-direction: column;


                .departmentMembers {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 25px;

                    .memberCard {
                        box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                        -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                        display: flex;
                        flex-direction: column;
                        padding: 5px;
                        gap: 10px;
                        border-radius: 5px;
                        transition: 0.6s all ease-in;

                        &:hover {
                            transform: scale(1.06);
                        }

                        img {
                            width: 265px;
                            height: 350px;
                            object-fit: cover;
                        }

                        .name {
                            font-size: 20px;
                            color: $base-color;
                            text-transform: uppercase;
                            display: flex;
                            flex-direction: column;
                            text-align: center;

                            p {
                                font-weight: normal;
                                font-size: 14px;
                                color: gray;
                            }
                        }
                    }
                }
            }
        }



    }
}