.dashboard {

    .container {
        padding: 10px 30px;

        .overview {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .current {

                width: max-content;
                padding: 10px;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 700;
                color: #0d084d;
                box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
            }

        }

        .basic {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .top {
                flex: 2;
                display: flex;
                gap: 20px;

            }

            .bottom {
                flex: 6;
                display: flex;
                gap: 25px;

                .item {
                    -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                    box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                    border-radius: 5px;
                    overflow: hidden;
                    padding: 10px 10px 0px 10px;
                    height: 370px;

                    &:first-child {
                        flex: 2.2;
                    }

                    &:last-child {
                        flex: 1.3;
                    }

                }
            }
        }
    }
}