.navbar {
    display: flex;
    align-items: center;
    height: 55px;
    padding-left: 20px;
    // padding-right: 20px;
    border-bottom: 0.5px solid rgb(228, 227, 227);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;

    .left {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 5px;

        .menu {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: rgb(240, 237, 237);
            }
        }


        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 10px;
        }

        .school {
            font-size: 19px;
            text-decoration: none;
            font-weight: 500;
            color: #0d084d;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
        }
    }

    .center {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 5px;
        border: 0.5px solid lightgray;
        border-radius: 20px;
        width: 100%;
        padding: 5px 10px;

        .search {
            color: rgb(189, 189, 189);
        }

        input {
            border: none;
            width: 80%;
            outline: none;
            color: gray;
            font-size: 16px;

            &::placeholder {
                color: rgb(186, 185, 185);
            }
        }
    }

    .right {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: 30px;

        .link {
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: #0d084d;
        }

        .user {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
                gap: 15px;
            }

            span {
                color: maroon;
                font-weight: 600;
            }
        }
    }
}