$base-color: #0d084d;
$base-green-color: rgb(4, 133, 4);

.teachers {
    .teachersContainer {
        padding: 20px 30px 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                padding: 10px;
                border-radius: 5px;
                width: max-content;
                text-transform: uppercase;
                color: #616161;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 3px;
            }

            .button {
                display: flex;
                align-items: center;
                gap: 5px;
                border: none;
                box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                padding: 10px;
                border-radius: 5px;
                width: max-content;
                cursor: pointer;
                background-color: #009688;
                color: white;
                text-transform: uppercase;

                &:hover {
                    background-color: white;
                    color: #009688;
                }
            }

        }

        .allTeachers {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;

            .teacherCard {
                box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.11);
                display: flex;
                flex-direction: column;
                padding: 5px;
                gap: 3px;
                border-radius: 5px;
                transition: 0.6s all ease-in;

                &:hover {
                    transform: scale(1.06);
                }

                img {
                    width: 265px;
                    height: 265px;
                    object-fit: cover;
                }

                .name {
                    font-size: 18px;
                    color: $base-color;
                    text-transform: uppercase;
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;

                    span {
                        color: gray;
                        font-size: 14px;
                    }
                }

                .teacherSubject {
                    align-self: center;
                    padding-bottom: 5px;
                    font-size: 18px;
                    color: grey;
                }
            }
        }
    }
}