.sidebar {
    flex: 1.5;
    border-right: 0.5px solid rgb(232, 231, 231);
    height: calc(100vh - 55px);
    position: sticky;
    top: 55px;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .menu {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        color: #0d084d;
        display: flex;
        flex-direction: column;
        gap: 2px;

        .menuItem {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            padding: 10px;
            border-radius: 15px;

            span {
                font-size: 18px;
                font-weight: 400;
            }

            &:hover {
                background-color: #0d084d;
                color: white;
            }
        }

    }
}