* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    .link {
        text-decoration: none;
        color: inherit;
    }

    .active {
        background-color: #0d084d;
        color: white;
        border-radius: 15px;
    }
}